.title{
    font-weight: lighter;
    margin-bottom: 0;
    margin-top: 35px;
}

.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18;
    color: '#010101';
}

.text{
    font-weight: lighter;
    color: '#010101';
}