.contactsList{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 330px;
    margin: 0;
    padding-left: 0;
}

.contactsListItem{
    display: inline-flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

.contactsListName{
    margin-right: 10px;
    font-size:medium;
    font-weight: lighter;
}
.buttonDelete{
    border: none;
    cursor: pointer;
    font-size: small;
    font-style: inherit;
    font-weight: lighter;
    height: 30px;
    width: 65px;
    align-items: center;
}

.buttonDelete:hover{
    scale: 110%;
}
